<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
    <div class="col-8 offset-2 mt-3">
        <h1>Create a new Listing</h1>
        <form method="post" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input id="title" type="text" placeholder="Add a catchy title" name="listing[title]" class="form-control" required>
                <div class="valid-feedback">
                    Title looks good!
                  </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea id="description" type="text" name="listing[description]" class="form-control" required></textarea>
                <div class="invalid-feedback">
                    Please enter a short description.
                  </div>
            </div>
            <!-- <div class="mb-3">
                <label for="image" class="form-label">Listing Image URL/Link</label>
                <input id="image"  placeholder="Enter image URL/Link" type="text" name="listing[image]" class="form-control">
            </div> -->
            <div class="mb-3">
                <label for="image" class="form-label">Upload listing Image</label>
                <input id="image" type="file" name="listing[image]" class="form-control">
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input id="price"  placeholder="(eg.1200)" name="listing[price]" class="form-control" required>
                    <div class="invalid-feedback">
                        Please enter a valid price.
                      </div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="location" class="form-label">Location</label>
                    <input id="location" type="text" placeholder="(eg.Jaipur)" name="listing[location]" class="form-control" required>
                    <div class="invalid-feedback">
                        Location should be valid.
                      </div>
                </div>
            </div>
            
            <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <input id="country" type="text" placeholder="(eg.India)" name="listing[country]" class="form-control" required>
                <div class="invalid-feedback">
                    Country should be valid.
                  </div>
            </div>
           
            <button class="btn btn-dark add-btn mt-3">Add Listing</button>
            <br><br>
        </form>
    </div>
    </div>
</body>
